/* PC */
@media screen and (min-width: 992px) {
  .menu-drawer {
    display: none;
  }
}

/* tablet & Mobile */
@media screen and (max-width: 991.98px) {
  .navbar {
    position: relative;
  }

  .logo {
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .navbar ul {
    display: none;
  }

  .toggle-menu {
    cursor: pointer;
    display: block;
  }

  .nav__menu-mb-tab {
    width: 30px;
    color: #666;
  }

  .menu-overlay {
    position: fixed;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.3);
    opacity: 0;
    visibility: hidden;
    transition: 0.5s ease-in-out;
  }

  .menu-drawer {
    padding: 60px;
    position: fixed;
    inset: 0 40% 0 0;
    background-color: #fff;
    z-index: 2;
    transform: translateX(-100%);
    transition: 0.5s ease-in-out;
  }

  .menu-checkbox:checked ~ .menu-overlay {
    opacity: 1;
    visibility: visible;
  }

  .menu-checkbox:checked ~ .menu-drawer {
    transform: translateX(0%);
  }

  .menu-drawer ul {
    margin-top: 30px;
  }

  .menu-drawer ul a {
    display: block;
    color: #333;
    padding: 14px 0;
    font-weight: 500;
  }

  .hero {
    position: relative;
  }

  .hero-img {
    /* display: none; */
    position: absolute;
    top: -210px;
    left: 90px;
    /* width: 389.3px; */
    opacity: 0.05;
  }

  .hero .infor {
    width: 100%;
    text-align: center;
  }

  .clients .row {
    margin-top: -5px;
  }

  .clients .row p:first-child {
    margin-right: 10px;
  }

  .stats .row {
    /* position: relative; */
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    align-items: center;
  }

  .stats .row-qty {
    display: flex;
    gap: 60px;
  }

  .stats .info {
    padding: 0px 40px 0px 40px;
  }

  .stats .info .sub-title::before {
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .stats .stats-trend {
    top: -60px;
    left: 0px;
  }

  .stats .info .sub-title,
  .stats .info .desc {
    width: 100%;
  }

  .stats .info {
    width: 100%;
    text-align: center;
  }
  .subscription .image {
    display: none;
  }

  .footer {
    margin-top: 10px;
    padding: 20px;
    justify-content: center;
  }

  .footer .row {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 50px;
    column-gap: 10px;
  }

  .footer .row .column:last-child .heading {
    margin-top: -3px;
  }

  .clients .desc {
    margin-top: 24px;
  }

  .clients .image {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    align-items: center;
    justify-content: center;
  }
}

/* ------------------------------------------------------------------- */

/* tablet */
@media screen and (min-width: 768px) and (max-width: 991px) {
  .menu-drawer .action {
    display: none;
  }

  .header {
    height: 100%;
    padding-bottom: 50px;
  }

  .clients {
    margin-top: 30px;
  }

  .featured {
    padding: 25px;
  }

  .featured .list {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .featured .desc {
    margin-top: 0px;
  }
}

/* mobile */
@media screen and (max-width: 767.98px) {
  .menu-drawer {
    padding: 40px;
    font-size: 2rem;
  }

  .navbar .action {
    display: none;
  }

  .menu-drawer {
    inset: 0 30% 0 0;
  }

  .menu-drawer .action {
    display: flex;
    gap: 30px;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
  }

  .hero {
    position: relative;
  }

  .hero-img {
    user-select: none;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 350px;
    opacity: 0.2;
  }

  .hero .title {
    font-size: 4.2rem;
  }

  .clients {
    margin-top: 30px;
  }

  .guides {
    margin-top: -50px;
  }

  .featured .sub-title {
    margin-top: -30px;
  }

  .featured .row {
    flex-wrap: wrap;
    gap: 15px;
  }

  .list-guide {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }

  .featured .list {
    display: flex;
    flex-wrap: wrap;
  }

  .stats .row {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .stats .img-block {
    width: 80%;
  }

  .stats .row .image {
    width: 300px;
    height: 360px;
  }

  .stats .img-block {
    position: relative;
  }

  .stats .stats-trend {
    position: absolute;
    top: -60px;
    left: -20px;
  }

  .stats .info .sub-title {
    margin-top: 30px;
  }

  .stats .img-block .image {
    margin: 0 auto;
  }

  .stats .stats-trend {
    width: 160px;
    height: 330px;
  }

  .stats strong-qty {
    font-size: 4.2rem;
  }

  .stats .row-qty {
    margin-top: 35px;
    font-size: 2.2rem;
  }

  .stats .row-qty .qty-item {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .footer .row .column:last-child .heading {
    margin-top: 15px;
  }
}
